@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color_primario:#003092;
    --color_secundario:#FFAB5B;
    --color_terciario:#00879E;

    --font_titulos:'Krona One', sans-serif;
    --font_secundario: 'Montserrat', sans-serif;
    --font_size_titulo:2.25rem;
    --font_size_texto:1.5rem;

}
* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color_primario);
    color: var(--color_secundario);
}

header{
    padding: 2% 0 0 15%;
}

.header-menu{
    display: flex;
    gap: 5rem;
}
.header_nav_menu_link{
    font-family: var(--font_secundario);
    font-size: var(--font_size_texto);
    font-weight: 600;
    color: var(--color_terciario);
    text-decoration: none;
    
}
.header_nav_menu_link:hover{
    color:var(--color_secundario);
}


.titulo-destaque {
    color: var(--color_terciario); ;
}

.presentacion {
    padding:5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}

.presentacion__contenido__titulo{
    font-size: var(--font_size_titulo);
    font-family: var(--font_titulos);
}

.presentacion__contenido__texto{
    font-size: var(--font_size_texto);
    font-family: var(--font_secundario);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    border-radius: 0.25rem;
    font-size: var(--font_size_texto);
    font-weight: 600;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--color_secundario);
    font-family: var(--font_secundario);
    border: 0.125rem solid var(--color_terciario) ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color_terciario);

}

.foto_portafolio{
    width: 50%;
}

.presentacion__subtitulo{
    font-family: var(--font_titulos);
    font-size: var(--font_size_texto);
}

.about-presentacion__contenido__titulo{
    font-family: var(--font_titulos);
    font-size: var(--font_size_titulo);

}

.about-presentacion-descripcion{
    font-family: var(--font_secundario);
    font-size: var(--font_size_texto);
}
.curriculum-presentacion__contenido__titulo{
    font-family: var(--font_titulos);
    font-size: var(--font_size_titulo);
}
.presentacion__contenido_descripcion{
    font-family: var(--font_secundario);
    font-size: var(--font_size_texto);
}
.presentacion__contenido_subtitulo{
    font-family: var(--font_titulos);
    font-size: var(--font_size_titulo);
}
.presentacion__contenido_item{
    font-family: var(--font_secundario);
    font-size: var(--font_size_texto);
}
.presentacion__contenido_Certificacion{
    text-decoration: none;
    color: var(--color_terciario)
}

.presentacion__contenido_Certificacion:hover{
    color: var(--color_secundario)
}

footer{
    background-color:var(--color_terciario) ;
    padding: 1.5rem;
    font-family: var(--font_secundario);
    font-size: var(--font_size_texto);
    font-weight: 400;
    text-align: center;
    
}

@media(max-width:1200px){
    .presentacion{
        flex-direction: column-reverse;
    }
    
}

@media(max-width:700px){
    .header-menu{
        flex-direction: column;
        gap: 1rem;
    }
    .presentacion {
        padding:5% 0%;
        gap:0rem
    }
}